@charset "UTF-8";
/* CSS Document */
html,body{
	background-color:#ffffffe4;
	height:100%;
}

body{
	margin: 30;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
}	

h2{
    font-family: 'Hind', sans-serif;
    font-size: 2em;
}

h3{
  font-family: 'Hind', sans-serif;
	font-size: 1em;
	/*display: none;*/
}

p{
	font-family: 'Hind', sans-serif;
	font-size: 12pt;
	color: black;
}

ul{
	font-family: 'Hind', sans-serif;
	font-size: 12pt;
	font-weight: 200;
	color: black;
}

li{
	font-family: 'Hind', sans-serif;
	font-size: 12pt;
	font-weight: 100;
	font-weight: 200;
	color: black;
}

a{
	color: black;
}


.footer{
	color:black;
	font-family: 'Hind', sans-serif;
	font-size: 10pt;
}

/*------accordion------*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* ------ Form ------*/
.errorMsg { 
	color:red;
	display:none; 
	font-family: 'Hind', sans-serif;
}

fieldset { 
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
	border: 9px groove (internal value);
	border-style:solid;
	border-width:4px 4px 4px 4px;
}

.form-project{
	font-family: 'Hind', sans-serif;
	font-size: 20px;
}

/* ------ hamburger -------*/
/* menu icon */

/* Add a black background color to the top navigation */
.topnav {
	background-color: #2B5AB3;
	overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: rgb(80, 95, 233);
	color: black;
}

/* Add an active class to highlight the current page */
.current {
	background-color: rgb(16, 38, 79);
	color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}

/*------------- The flip card container------------- */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: black;
  width: 300px;
  height: 300px;
	border: 1px solid black;
	margin:0;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
	color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}


/*---skip to main---*/
.skip-main {
	left:-999px;
	position:absolute;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	z-index:-999;
}

.skip-main:focus, a.skip-main:active {
	color: white;
	background-color:black;
	left: auto;
	top: auto;
	width: 30%;
	height: auto;
	overflow:auto;
	margin: 10px 35%;
	padding:5px;
	border-radius: 15px;
	border:4px solid yellow;
	text-align:center;
	font-size:1.2em;
	z-index:999;
}

/*---header---*/
.header{
	grid-area: header;
}

.header-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 72px;
}

.header-nav-item{
	color:white;
	padding: 16px;
}

/*---callout---*/
.callout {
  position: fixed;
  bottom: 75px;
  right: 150px;
  margin-left: 20px;
  max-width: 900px;
}

.callout-header {
  padding: 15px 15px;
	background-color: #274f9a;
  font-size: 30px;
	color: white;
}

.callout-container {
  padding: 30px;
  background-color: #ccc;
  color: black
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}

/*---project---*/
.project{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.project-item{
	display: grid;
	grid-template-rows:auto;
	
}

.project-item-title{
	grid-row-start: 1;
}

.project-text-left{
	grid-row-start: 2;
	padding-right: 16px;
}

.project-text-right{
	grid-row-start: 2;
	padding-left: 16px;
}

.project-text-left-split{
	grid-row-start: 2;
	padding-right: 16px;
	display: grid;
	grid-template-columns: 40% 60%;
	
}

.project-text-right-split{
	grid-row-start: 2;
	padding-left: 16px;
	display: grid;
	grid-template-columns: 40% 60%;
}

.project-img{
	max-width: 100%
}

.gallery{
	grid-row-start: 2;
	display: grid;
	grid-template-rows:  auto auto;
	justify-items: center;
	align-items: center;
	grid-gap: 32px;
}

.gallery-item-a{
	grid-column: 1/2;
	grid-row: 1/2;
	max-width: 100%
}

.gallery-item-b{
	grid-column-start: 2/3;
	grid-row: 1/2;
}

.gallery-item-c{
	grid-column-start: 3/4;
	grid-row: 1/2;
}

.gallery-item-d{
	grid-column-start: 1/2;
	grid-row: 2/3;
}

.gallery-item-e{
	grid-column-start: 2/3;
	grid-row: 2/3;
}

.gallery-item-f{
	grid-column-start: 3/4;
	grid-row: 2/3;
}

.gallery-item-g{
	grid-column-start: 1/2;
	grid-row: 3/4;
	max-width: 100%
}

.gallery-item-h{
	grid-column-start: 2/3;
	grid-row: 3/4;
}

.gallery-item-i{
	grid-column-start: 4/4;
	grid-row: 3/4;
}

.gallery-img{
	max-width: 100%
}

.main-grid{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 72px auto 72px;
	grid-template-areas: 
		"logo header"

}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
		top: 0;
}		

@media screen and (max-width: 600px) {
.grid-container{
	display:grid
	grid-template-columns: 1fr, 1 fr;
	grid-template-rows: 1fr, 3fr;}
}


@media screen and (max-width: 600px) {
.flip-card-front {
  background-color: #bbb;
	color: black;
	display:none;
	}
}